{% extends 'index.html' %}

{% block content %}

<div class = "container" style="margin-top: 150px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;">
<h1>Join Today</h1>
<br>
<form method="POST">
      {% csrf_token %}
      {{form.username.label}} {{ form.username }}<br><br>
      {{form.password1.label}} {{ form.password1 }}<br><br>
      {{form.password2.label}} {{ form.password2}}<br><br>

    <button class="btn btn-success">Register</button>
    {{form.errors}}
</form>

</div>

{% endblock %}
